<!doctype html>
    <html lang='en'>
    <head>
        <meta charset= "UTF-8">
        <title>MovieVerse</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    </head>
    <body style="background-color: #F0F8FF">
        <div style="width:50%; margin:auto; ">
            <div class= "text-center">
                <img src=<%=backDropPath%> style="width:100%;">
                <h1><%= title %>
                     <span class="star-rating">
                        <input type="radio" name="rating" value="1"><i></i>
                        <input type="radio" name="rating" value="2"><i></i>
                        <input type="radio" name="rating" value="3"><i></i>
                        <input type="radio" name="rating" value="4"><i></i>
                        <input type="radio" name="rating" value="5"><i></i>
                    </span>
                </h1>
                <script>
                    $(':radio').change(  function(){    $('.choice').text( this.value + ' stars' );  } );
                </script>
            </div>
            <div class>
                <h2>Description:</h2>
                <p><%= description %></p>
            </div>
        </div>
    </body>
</html>