<!doctype html>
<html lang='en'>
	<head>
		<meta charset= "UTF-8">
		<title>MovieVerse</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	</head>	
	<body>
		<div class= "container">
		</div>
		<script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/css/bootstrap.css"></script>
	</body>
</html>