<!doctype html>
<html lang='en'>
	<head>
		<meta charset= "UTF-8">
		<title>MovieVerse</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	</head>	
	<body>
		<div class= "text-center">
			<h1><%= title %></h1>
		</div>
		<% for (var i =0; i< movies.length; i+=6){ %>
			<div class="row">
				<% for(var j = 0; j<6; j++) { %>
					<div class = "col-md-2 text-center">
						<%= movies[i].desc %>
					</div>
				<% } %>
			</div> 
		<% } %>
		
		<script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/css/bootstrap.css"></script>
	</body>
</html>