<html>
    <head>
        <meta charset= "UTF-8">
        <title>MovieVerse</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <form action="/login" method="post">
            <fieldset>
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" placeholder="Username" />
                <br />
                <label for="password">Password:</label>
                <input type="text" id="passWord" name="passWord" placeholder="Password" />
                <br />
                <input type="submit" value="Create Profile" />
            </fieldset>
        </form>
    </body>
</html>